.list{
    height: 50px;
    width: 300px;
    margin: 20px auto;
    border-radius: 8px;
    background: rgb(102, 101, 99);
}
.list p{
    display: flex;
    padding: 15px;
    
    position: relative;
    align-items: flex-start;
}
.list p span{
   position: absolute;
   right: 10px;
}